<!-- <div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/residencies">Residencies</a></li>
      <li><a href="#/grants">Grants</a></li>
      <li><a href="#/todo">To-Do</a></li>
    </ul>
  </div>
</div> -->

<md-nav-bar md-selected-nav-item="currentNavItem">
  
  <md-nav-item md-primary md-nav-href="#/residencies" name="residencies">RESIDENCIES</md-nav-item>
  <md-nav-item md-nav-href="#/grants" name="grants">GRANTS</md-nav-item>
  <md-nav-item md-nav-href="#/todo" name="todo">TO-DO</md-nav-item>
  <md-nav-item md-nav-href="#/landing" name="landing">Home</md-nav-item>
  <span flex></span>
  <md-nav-item md-nav-href="#/user" name="login"> LOGIN</md-nav-item>
  
</md-nav-bar>


