<md-dialog>

    <div flex="22" flex-sm="55" class="oppCards" class="cards" aria-label="grants">
        <img class="cardImage" src="{{rc.residencies[rc.selectedIndex].imageurl}}" class="md-card-image" alt="image caption">
        <h1>{{gc.grants[gc.selectedIndex].name}}</h1>
        <p>{{gc.grants[gc.selectedIndex].location}}</p>
        <p>{{gc.grants[gc.selectedIndex].text}}</p>
        <p>{{gc.grants[gc.selectedIndex].deadline | date}}</p>
    </div>
    <div>
        <h2>REVIEWS</h2>
        <div ng-repeat="grant in gc.grants[gc.selectedIndex] track by $index">
            <p ng-repeat="review in grant track by $index">
                <strong>{{review.userId[0].username}}</strong>
                {{review.text}}
                
                </p>
            </p>
    </div>
    <div>
        <h2>ADD A REVIEW</h2>
    </div>
    <md-input-container flex-gt-xs>
        <div layout-gt-sm="row">

            <!-- <div layout-gt-sm="row"> -->
            <label>Review</label>
            <textarea ng-model="gc.grant.review" md-maxlength="500" rows="6" md-select-on-focus></textarea>
        </div>
    </md-input-container>
    <div id="submit" layout="row">
        <md-button class="md-primary md-raised" ng-click="gc.addGrantRev(gc.grants[gc.selectedIndex]._id, gc.grant.review)">Submit</md-button>
        <md-button class="md-warn md-raised" ng-click="gc.deleteAReview(gc.review)">Delete</md-button>
    </div>




</md-dialog>