<md-dialog>
    
    <div flex="22" flex-sm="55"  class="oppCards" class="cards" aria-label="residencies">
            <img class="cardImage" src="{{rc.residencies[rc.selectedIndex].imageurl}}" class="md-card-image" alt="image caption">
            <h1>{{rc.residencies[rc.selectedIndex].name}}</h1>
            <p>{{rc.residencies[rc.selectedIndex].location}}</p>
            <p>{{rc.residencies[rc.selectedIndex].text}}</p>
            <p>{{rc.residencies[rc.selectedIndex].deadline | date}}</p>
             {{rc.residencies[rc.selectedIndex]._id}}
    </div>
    <div><h2>REVIEWS</h2></div>
    <p>Here are reviews.</p>
    <div><h2>ADD A REVIEW</h2></div>
    <md-input-container flex-gt-xs>
    <div layout-gt-sm="row">
    
            <!-- <div layout-gt-sm="row"> -->
            <label>Review</label>
            <textarea ng-model="rc.residency.review" md-maxlength="500" rows="6" md-select-on-focus></textarea>
        </div>
        </md-input-container>
         
            <div id="submit" layout="row">
            <md-button class="md-primary md-raised" ng-click="rc.addResRev(rc.residencies[rc.selectedIndex]._id, rc.residency.review)">Submit</md-button>
            <md-button class="md-warn md-raised" ng-click="rc.deleteAReview(rc.review)">Delete</md-button>
            </div>
            
        


</md-dialog>

 