<!-- <div class="container">
  <h1 class="lead">Login</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.login()">
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="lc.user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
      </div>
      <div>
          <md-button class="md-raised md-primary" type="submit" name="submit" value="Log In">Log In</md-button>
          <a href="#register">Register</a>
      </div>
    </form>
</div> -->



    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding"
        ng-cloak="ng-cloak" class="login-form">
        <md-card class="login" flex="flex" flex-gt-sm="50" flex-gt-md="33">
            <!-- <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Login Form</span>
                    </h2>
                </div>
            </md-toolbar> -->
            <md-card-content>
                <form name="Form" ng-submit="lc.login()">
                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input type="text" name="username" ng-model="lc.user.username" placeholder="user name" required="" />
                        <div ng-messages="Form.user.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your user name.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="lc.user.password" placeholder="password" required="" md-maxlength="16"
                        />
                        <div ng-messages="Form.password.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your password.</div>
                            <div ng-message="md-maxlength" class="my-message">Too long.</div>
                        </div>
                    </md-input-container>
                    <md-button class="md-raised md-primary" type="submit" name="submit" value="Log In">Log In</md-button>
                    <!-- <md-button class="md-raised md-primary" ng-click="uc.userService.logout()">Log Out</md-button> -->
                    </div>
                    <a href="#register">Register</a>
                </form>
                
            </md-card-content>
        </md-card>
    </md-content>
