

<div layout="row" layout-align="center center" ng-cloak class="md-block">
    <md-card  class="landingCard" flex="30" flex-sm="40" flex-xs="55" class="oppCards" class="cards">
        <a href="#/grants" class="landingLinks">
    <md-card-content>
       <h2 class="landingTitles">GRANTS</h2>
       Text about grants. LKJLKJOIUOIULKJ LKJ LKJ 
       LKJLKJ LKJ LKJ LKJ LKJ LKJ LKJ LKJ LKJ LKJ 
    </md-card-content>
    </a>
</md-card>
    <md-card class="landingCard" flex="30" flex-sm="40" flex-xs="55" class="oppCards" class="cards">
        <a href="#/residencies" class="landingLinks">
        <md-card-content>
            <h2 class="landingTitles">RESIDENCIES</h2>
            Text about residencies. 
            </a>
        </md-card-content>
    </md-card>
    <md-card class="landingCard" flex="30" flex-sm="40" flex-xs="55" class="oppCards" class="cards">
        <md-card-content>
            <a href="#/todo" class="landingLinks">
            <h2 class="landingTitles">TO-DO</h2>
            Logged in users can add residencies and grants to their to-do lists, 
            so they can more easily track approaching deadlines. 
            </a>
        </md-card-content>
    </md-card>
</div>