<div layout="column" layout-align="center center" ng-cloak class="md-block">
    
    <md-content layout-padding class="inputs">
        
        <div><h2>ADD A RESIDENCY</h2></div>
        <div layout-gt-sm="row">
            
            <md-input-container>
                <label>Residency Name</label>
                <input ng-model="rc.residency.name">
            </md-input-container>
            <md-input-container>
                <label>Location</label>
                <input ng-model="rc.residency.location">
            </md-input-container>
            <md-input-container>
                <label>Url</label>
                <input ng-model="rc.residency.url">
            </md-input-container>
            <md-input-container>
                <label>Image Url</label>
                <input ng-model="rc.residency.imageurl">
        </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <!-- <div layout-gt-sm="row"> -->
                <label>Info</label>
                <textarea ng-model="rc.residency.text" md-maxlength="500" rows="6" md-select-on-focus></textarea>
            <!-- </div> -->
        </md-input-container>
        <md-input-container>
            <!-- <div layout-gt-sm="row"> -->
                <label>Deadline</label>
                <md-datepicker ng-model="rc.residency.deadline"></md-datepicker>
            <!-- </div> -->
        </md-input-container>
        <br>
        <div id="submit">
        <md-button class="md-primary md-raised" ng-click="rc.addARes(rc.residency)">Submit</md-button>
        </div>
    </div>
    </md-content>


<!-- <div class="res col-md-6 col-lg-5 col-sm-7 col-xs-8 text-center" ng-repeat="res in rc.residencies">
     {{res.name}}
    <br> -->

<div layout="row" layout-sm="column" layout-wrap layout-margin layout-align="center center">
    <md-card flex="22" flex-sm="40" flex-xs="55" ng-repeat="res in rc.residencies" class="oppCards" class="cards">
        <img class="cardImage" src="{{res.imageurl}}" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>{{res.name}}</h2>
            <h3>Info:</h3>
            <p>{{res.text}}</p>
            <h3>Location:</h3>
            <p>{{res.location}}</p>
            <h3>Deadline:</h3>
            <p>{{res.deadline | date}}</p>
            <div>
                <md-card-footer>
            <md-button class="md-primary md-raised" ng-click="rc.showMore($event, $index)" class="md-raised" aria-label="Open Dialog" id="more">
                More Info
            </md-button>
            <md-button><i class="material-icons" ng-click="rc.addTodo($event, $index)"layout-align="left">favorite</i></md-button>
            </md-card-footer>
            </div>
        </md-card-content>
        {{rc.resObj}}
        
    </div>
    
    