<div ng-cloak>
    <div ng-repeat="userName in uc.userObject track by $index" class="todos">
        <div ng-repeat="todos in userName">
            <md-checkbox><strong>{{todos.name}}</strong>
            <span> {{todos.deadline | date}}</span></md-checkbox>
        </div>
</div>
</div>
    <!-- <div ng-repeat="res in rc.residencies[rc.selectedIndex] track by $index">
        <p ng-repeat="review in res track by $index">
            <strong>{{review.userId[0].username}}</strong>
            {{review.text}}
    
        </p>
    </div> -->

            <!-- <div layout-wrap layout-gt-sm="column">
               
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                        Checkbox 1: {{ data.cb1 }}
                    </md-checkbox>
                
                <br>
                <md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">
                    Checkbox 2: {{ data.cb2 }}
                </md-checkbox>
                <br>
                <md-checkbox ng-model="data.cb3" aria-label="Checkbox 1">
                    Checkbox 3: {{ data.cb3 }}
                </md-checkbox>
                <br>
                <md-checkbox ng-model="data.cb4" aria-label="Checkbox 1">
                    Checkbox 4: {{ data.cb4 }}
                </md-checkbox>
            </div> -->
