<div class="md-padding" ng-cloak>
    <div>
        <!-- <fieldset class="standard"> -->
            <div  class="cards" aria-label="todos">
                {{rc}}
                <!-- <h1>{{rc.residencies[rc.selectedIndex].name}}</h1>
                <p>{{rc.residencies[rc.selectedIndex].deadline | date}}</p> -->
                <div>


            <!-- <div layout-wrap layout-gt-sm="column">
               
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                        Checkbox 1: {{ data.cb1 }}
                    </md-checkbox>
                
                <br>
                <md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">
                    Checkbox 2: {{ data.cb2 }}
                </md-checkbox>
                <br>
                <md-checkbox ng-model="data.cb3" aria-label="Checkbox 1">
                    Checkbox 3: {{ data.cb3 }}
                </md-checkbox>
                <br>
                <md-checkbox ng-model="data.cb4" aria-label="Checkbox 1">
                    Checkbox 4: {{ data.cb4 }}
                </md-checkbox>
            </div> -->
